@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
}

li {
  position: relative;
  cursor: pointer;
  color: white;
  text-decoration: none; /* Remove default underline */
}

li:hover {
  text-decoration:underline red; /* Underline on hover */
}
